@import "tailwindcss";

@theme {
  --color-primary: #0284c7;
  --color-secondary: #22c55e;
  --color-dark: #0f172a;
  --color-light: #f1f5f9;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}